<% unless @search_result.nil? %>
  <% @search_result.each_with_index do |result, index| %>
    <tr>
      <td class="id"><%= result[0] %></td>
      <td class="name"><%= result[1] %></td>
    </tr>
  <% end %>
<% end %>